@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;

  width: 100%;
  
  justify-content: space-between;

  .logo {
    color: white;
    text-decoration: none;
    font-weight: 300;
  }

  .link {
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-weight: 300;
  }
}

// media queries //
@media only screen and (max-width: 700px) {
  .hero-pic img {
    margin: 0;
    margin-bottom: 1rem;
  }
}
