.projects-container{
    .title{
        text-align:center;
        padding: 2rem;
        h2{
            font-size: 2.5rem;
            font-weight: 400;
            margin: 2rem;
        }
        h3{
            font-size: 2rem;
            font-weight: 200;
        }
        
    }

    h3{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        padding-top: 1rem;
    }
    h4{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        color: #F9DEC9;
    }
    
    p{
        font-size: 1.2rem;
        font-weight: 300;
        max-width: 500px;
        line-height: 1.5;
    }

    .project-a, .project-b{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .project-a{
        background-color: #748CAB;
        color: #fff;
    }

    .project-b{
        background-color: #FFFBFA;

        h4{
            color: #CF5C36;
        }
       
    }

    .project-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        max-width: 1000px;
        margin: auto;

        img{
            width: 450px;
        }

    }
}

// media queries //
@media only screen and (max-width: 860px) {
    .project-wrapper{
        flex-direction: column;

        .caption{
            margin: 2rem;
        }

        .project-b{
            .project-wrapper{
                flex-direction: column;
            }
        }
    }
}