.skills-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem; 
    height: 85vh;

    .head{
        h2{
            font-weight: 400;
            font-size: 2.5rem;
            margin: 2rem;
            text-align: center;
        }
        h3{
            font-weight: 200;
            font-size: 2rem;
            text-align: center;
        }
    }

    .categories{
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        img{
            width: 80px;
            margin: 1.2rem;
        }

        .category{
            margin-top: 4rem;
            text-align: center;

            h3{
                font-size: 1.6rem;
                font-weight: 500;
                margin-top: 2rem;
            }

        .skill{
            font-size: 1.4rem;
            font-weight: 200;
            padding: .6rem;
        }

        }
    }
}

// media queries //
@media only screen and (max-width: 767px) {
    .categories{
        flex-direction: column;
    }
    .skills-container{
        height: 100%;
    }
}